@charset "utf-8";

/*  -------------------------  */
/*  ----------RESET----------  */
/*  -------------------------  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public dosection)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:hover {
    text-decoration: none; 
}

strong { font-weight: bold; }
em { font-style: italic; }

/*  -------------------------  */
/*  -----GENERAL STYLING-----  */
/*  -------------------------  */

html {
    font-size: 1em;
    line-height: 1.3;
    overflow-x: hidden;
}

h1 { font-size: 30px; font-size: 1.875rem; line-height: 1.5; }
h2 { font-size: 26px; font-size: 1.625rem; line-height: 1; }
h3 { font-size: 22px; font-size: 1.375rem; line-height: 1.2; }
h4 { font-size: 18px; font-size: 1.125rem; line-height: 1.125; }
h5 { font-size: 16px; font-size: 1rem; line-height: 1.125; }
h6 { font-size: 14px; font-size: 0.875rem; line-height: 1.125; }
p { font-size: 16px; font-size: 1rem; line-height: 1.3; }

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    color: #e1e1e1;
    background: #0f0f0f;
}

/*  ----------CONTAINERS---------  */

section {
    margin-left: 230px;
    padding: 20px;
}

.main-admin {
    padding: 25px 25px 50px;
    width: 750px;
    margin: 0 auto;
}



/*  ----------ACCESSIBILITY---------  */

.skip, .outline {
    left: -9999px;
    position: absolute;
}

.off {
    display: none;
}

/*  ----------CLEARFIX---------  */

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*  ----EDIT, DELETE ICON BUTTONS-----  */

.edit, .delete {
    height: 40px;
    width: 53px;
    position: absolute;
    background: #3e3e40;
    text-align: center;
}

    .edit:hover, .delete:hover {
        color: #3d8cd9;
        cursor: pointer;
    }

/*  ----------FORMS----------  */

.labels {
    display: block;
    padding: 10px 0;
}

.bold-labels {
    font-weight: 700;
    display: block;
    padding: 10px 0;
}

input[type="radio"], input[type="checkbox"] {
    margin: 10px 6px 10px 15px;
}

.error {
    padding: 2px 5px;
    font-size: 0.875rem;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #3d8cd9;
    margin-left: 7px;
    margin-top: 2px;
}

    .error i {
        padding-right: 4px;
        font-size: 0.85rem;
        font-size: 13px;
    }

/*  --------------------------  */
/*  ----------HEADER----------  */
/*  --------------------------  */

header {
    background: #26272a;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 210px;
    z-index: 3;
}

a {
    color: #e1e1e1;
}

    /*  -------------LOGO-------------  */

    #logo, #logo-anon {
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        height: auto;
        text-align: center;
    }

    #logo img {
        width: 60%;
    }

    /*  ----------NAVIGATION----------  */

    nav {
        position: absolute;
        top: 100px;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: left;
    }

        /* ----- First Tier ----- */

        nav h4 {
            position: relative;
            display: block;
            height: 50px;
            line-height: 50px;
        }

            nav h4 a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                padding-left: 30px;
            }

                nav h4 a:hover {
                    background: #3e3e40;
                }

                nav h4 a i {
                    position: relative;
                    margin-right: 10px;
                }

    #go-to-site {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 50px;
        line-height: 50px;
    }

    #go-to-site a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-left: 30px;
    }

    #go-to-site a:hover {
        background: #3e3e40;
    }

    #go-to-site a i {
        position: relative;
        margin-right: 10px;
    }

/*  -------------CONTENT-------------  */


/* ----HOMEPAGE---- */

#featured-info {
    padding: 20px 0;
    position: relative;
}

    #main-heading, #sub-heading, #btn-link-txt, #btn-link {
        display: inline-block;
        width: 48%;
    }

        #featured-info h3 {
            padding: 5px 0;
        }
        #featured-info h4 {
            padding: 10px 15px;
        }

    #featured-info > a.edit {
        height: auto;
        width: auto;
        top: 0;
        right: 45px;
        line-height: 30px;
        padding: 0 10px;
    }

        #featured-info > a.edit i {
            margin-right: 8px;
        }

#featured-img {
    width: 700px;
    padding: 20px 0 40px;
    position: relative;
}

    #featured-img img {
        padding-top: 20px;
        width: 100%;
    }

    #featured-img > a.edit {
            height: auto;
            width: auto;
            bottom: 60px;
            right: 35px;
            line-height: 30px;
            padding: 0 10px;
        }

            #featured-img > a.edit i {
                margin-right: 8px;
            }

.featured-proj {
    position: relative;
}

    .featured-proj > a.edit {
        height: auto;
        width: auto;
        top: 5px;
        right: 55px;
        line-height: 30px;
        padding: 0 10px;
    }

    .feature {
        max-width: 25%;
        min-width: 225px;
        height: 225px;
        position: relative;
        display: inline-block;
        background: #26272a;
        margin: 40px 5px 10px 5px;
    }

        .feature a {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

            .feature img {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                width: 100%;
            }

                /* -- DESCRIPTION HOVER (TOOLTIP) -- */

                .feature > a:hover:after {
                    position: absolute;
                    background: #000;
                    background: rgba(0,0,0,0.4);
                    bottom: 0;
                    top: 0;
                    right: 0;
                    left: 0;
                    color: #fff;
                    content: attr(title);
                    z-index: 2;
                    padding: 20px;
                    white-space: normal;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

        .info {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 40px;
            line-height: 40px;
            margin-bottom: -40px;
            background-color: #26272a;
        }

            .info img.user-profile {
                height: 40px;
                width: 53px;
                position: absolute;
                top: 0;
                left: 0;
            }

            .info span.category {
                height: 40px;
                width: 53px;
                position: absolute;
                top: 0;
                left: 53px;
                text-align: center;
                background: #3e3e40;
            }

            .user-profile {
                height: 40px;
                width: 53px;
                position: absolute;
                top: 0;
                left: 0;
            }

                .info span.approvals {
                    height: 40px;
                    width: 118px;
                    position: absolute;
                    top: 0;
                    left: 53px;
                    text-align: center;
                }

                .feature a.delete {
                    top: 0;
                    left: 171px;
                }

/*  --------CATEGORIES--------  */

.cat-container {
    position: relative;
}

    .cat-container h1 {
        margin-bottom: 20px;
        display: inline-block;
    }

    .cat-container > .edit {
        display: inline;
        width: 180px;
        font-size: 1.1rem;
        height: 30px;
        line-height: 30px;
        padding: 0 2px 2px 2px;
        margin-top: 10px;
        margin-left: 195px;
    }

    .category {
        width: 80%;
        display: inline-block;
        margin: 5px 0;
        height: 70px;
    }

        .category span {
            text-align: center;
            float: left;
            width: 10%;
            line-height: 70px;
            font-size: 1.65rem;
            background: #3e3e40;
            position: relative;
            z-index: 2;
        }

        .cat-title-options {
            width: 90%;
            position: relative;
            height: 100%;
            background: #26272a;
        }

            .cat-title-options h2 {
                margin: 0 0 0 20px;
                display: inline-block;
                line-height: 70px;
                
            }

            .cat-title-options .edit {
                height: 70px;
                width: 70px;
                right: 70px;
                font-size: 1.1rem;
            }

                .cat-title-options .edit i {
                    line-height: 70px;
                }

            .cat-title-options .delete {
                height: 70px;
                width: 70px;
                right: 0;
                font-size: 1.1rem;
            }

                .cat-title-options .delete i {
                    line-height: 70px;
                }


/*  -------------FOOTER-------------  */

footer {
    position: relative;
    height: 50px;
    background: #26272a;
    overflow: hidden;
    z-index: 2;
    color: #e1e1e1;
    padding-left: 210px;
}

    footer p {
        line-height: 50px;
        margin-left: 5%;
        float: left;
        font-size: 14px;
    }

        footer a:hover {
            color: #3d8cd9;
        }

