/* 
    Created on : 10-Mar-2015, 6:37:49 PM
    Author     : ILecoche
*/

.cat-container {
    position: relative;
    width: 100%;
    text-align: center;
}

    .cat-container h1 {
        margin-bottom: 20px;
        display: inline-block;
        float: left;
    }

    .cat-container > .edit {
        display: inline;
        width: 180px;
        font-size: 1.1rem;
        height: 30px;
        line-height: 30px;
        padding: 0 2px 2px 2px;
        margin-top: 12px;
        margin-right: 40px;
        float: right;
        position: relative;
    }

    .category {
        display: inline-block;
        margin: 5px auto;
        width: 90%;
        height: 70px;
    }

        .category span {
            text-align: center;
            float: left;
            width: 10%;
            line-height: 70px;
            font-size: 1.65rem;
            background: #3e3e40;
            border-right: 2px solid #0f0f0f;
            position: relative;
            z-index: 2;
        }

            /* ----- PROFILE IMAGE ----- */

            .cat-container .category > img {
                float: left;
                width: auto;
                height: 70px;
                line-height: 70px;
                font-size: 1.65rem;
                border-right: 2px solid #0f0f0f;
                position: relative;
                z-index: 2;
                overflow: hidden;
            }

        .cat-title-options {
            width: 90%;
            position: relative;
            height: 100%;
            background: #26272a;
        }

            .cat-title-options h2 {
                margin: 0 0 0 20px;
                display: inline-block;
                line-height: 70px;
                float: left;
            }

            .cat-title-options .cat-count {
                position: absolute;
                height: 70px;
                width: 110px;
                right: 142px;
                font-size: 1.4rem;
                background-color: #26272a;
                border-left: 2px solid #0f0f0f;
                border-right: 2px solid #0f0f0f;
            }

                .cat-title-options .cat-count i {
                    margin-right: 10px;
                    font-size: 1.1rem;
                }

            .cat-title-options .edit {
                height: 70px;
                width: 70px;
                right: 72px;
                font-size: 1.1rem;
            }

                .cat-title-options .edit i {
                    line-height: 70px;
                }

            .cat-title-options .delete {
                height: 70px;
                width: 70px;
                right: 0;
                font-size: 1.1rem;
                border-left: 2px solid #0f0f0f;
            }

                .cat-title-options .delete i {
                    line-height: 70px;
                }

/*  ----------JOB BOARD CONTAINERS---------  */

ul.job-top-nav {
    width: 100%;
    box-sizing: border-box;
    
}

ul.job-top-nav li{
    display: inline-block;
    padding: 0 20px;
    
}

.left-column {
    margin: 0 10px;
    padding: 60px 0 100px 0;
    width: 28%;
    width: calc(30% - 20px);
    float: left;
    display: table-cell;
    //outline: lawngreen 1px solid;
}

.right-column {
    margin: 0 10px;
    width: 68%;
    width: calc(70% - 20px);
    padding: 20px 0 70px 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    float: right;
    display: table-cell;
    // outline: lawngreen 1px solid;

}

.job-filters {
    width: 90%;
    box-sizing: border-box;
    padding: 10px;
    float: left;
    display: inline-block;
}

.job-logo-url {
    width: 98%;
    margin: 10px 1%;
}

.job-drop-down {
    display: inline-block;
    margin: 10px;
}

.job-inline-button {
    display: inline-block;
    margin-right: 0;
    margin-top: 10px;
}

.job-form {
    width: 100%;
    box-sizing: border-box;
}

.job-form li{
    clear: both;
}
.job-form-label {
    width: 40%;
    box-sizing: border-box;    
    padding: 10px;
    vertical-align: top;
    //outline: 1px white solid;
}

.job-form-input {
    width: 60%;
    box-sizing: border-box;       
    padding: 10px;
    vertical-align: top;
   // outline: 1px white solid;
}

.job-form-input input {
    width: 95%;
    min-width: 200px;
}

.job-logo img{

    height: 100px;
    
    width: 100px;
    margin: 0 auto;
    outline: 1px #eee solid;
    }
    
.job-textarea { 
    width: 98%;
    padding: 10px;
    box-sizing: border-box;
    height: 75px;
}

.job-left {float: left;}
.job-right {float: right;}
.job-full {
    float: none;
    width: 100%;
}
.job-inline {
    display: inline-block;
    padding: 10px;
}
.job-hidden {display: none;}
.job-button-clear {
    background-color: transparent; 
    border: none;
    color: #fff;
    margin-left: 20px;
}
.job-success {color: greenyellow;}
.job-failure {color: red;}
.confirm-delete {display: none; margin-top: 0;}
.confirm-delete .cat-title-options {background-color: #cd3232;}
.confirm-delete .cat-title-options h5 {width: 72%; float: left; margin-top: 20px; padding-left: 10px;}
.confirm-delete .cat-title-options button {
    float: right; 
    background-color: transparent; 
    border: none; 
    color:#fff; 
    width: 70px; 
    cursor:pointer;
    margin-right: 0; 
    margin-top: 20px;
}

/*  --------CATEGORIES--------  */

.job-container {
    //position: relative;
    width: 100%;
    text-align: center;
}

    .job-container h1 {
        margin-bottom: 20px;
        display: inline-block;
        float: left;
    }

    .job-container > .edit {
        display: inline;
        width: 180px;
        font-size: 1.1rem;
        height: 30px;
        line-height: 30px;
        padding: 0 2px 2px 2px;
        margin-top: 12px;
        margin-right: 40px;
        float: right;
        position: relative;
    }

    .jobrow {
        display: inline-block;
        margin: 5px auto;
        width: 90%;
        height: 70px;
    }

        .jobrow span {
            text-align: center;
            float: left;
            width: 10%;
            line-height: 70px;
            font-size: 1.65rem;
            background: #3e3e40;
            border-right: 2px solid #0f0f0f;
            position: relative;
            z-index: 2;
        }

        .job-title-options {
            width: 90%;
            position: relative;
            height: 100%;
            background: #26272a;
        }

            .job-title-options h2 {
                margin: 0 0 0 20px;
                display: inline-block;
                line-height: 70px;
                float: left;
            }

            .job-title-options .job-date {
                position: absolute;
                height: 70px;
                width: 160px;
                right: 70px;
                font-size: 1.4rem;
                background-color: #26272a;
                border-left: 2px solid #0f0f0f;
                border-right: 2px solid #0f0f0f;
            }

                .job-title-options .job-date i {
                    margin-right: 10px;
                    font-size: 1.1rem;
                }

            .job-title-options .details {
                height: 70px;
                width: 70px;
                right: 0;
                font-size: 1.1rem;
            }

                .job-title-options .details i {
                    line-height: 70px;
                }

            .job-title-options .delete {
                height: 70px;
                width: 70px;
                right: 0;
                font-size: 1.1rem;
                border-left: 2px solid #0f0f0f;
            }

                .job-title-options .delete i {
                    line-height: 70px;
                }

.likes-list li{display: inline-block; margin: 5px;}
.stats-project-container {padding: 15px; width: 100%; margin: 10px; background: #26272a; }


@media only screen and (max-width: 525px) {
.job-form-input, .job-form-label {
    width: 100%;
    }
    
.job-left, .job-right, .job-full {
    float: none;
    width: 100%;
    }
    
ul.job-top-nav li{
    display: block;
    padding: 10px 10px;
    
}
}

