#msg-main {
    position: fixed;
    top: 100px;
    left: 15%;
    width: 70%;
    height: 75%;
}

#msg-sidebar{
    position: fixed;
    left: 12%;
    width: 20%;
/*    border: 1px solid black;*/
    height: 75%;
    overflow-y: scroll;
}

    #msg-sidebar ul {
        list-style: none;
        padding: 0px;
    }
    
        #msg-sidebar ul li {
            margin: 10px;
        }
        
            #msg-sidebar ul li a {
                text-decoration: none;
                display: block;
/*                border: 1px solid black;*/
                padding: 5px;
                color: white;
                background: rgba(255,15,10,0.5);
            }

#msg-content {
    position: fixed;
    right: 12%;
    width: 50%;
    /*border: 1px solid black;*/
    height: 65%;
    overflow-y: scroll;
}

    #msg-content ul {
        list-style: none;
        padding: 0;
    }
    
        #msg-content ul li {
            display: block;
            margin: 5px;
        }
        
            .time-sent {
                font-size: 10px;
            }

        #msg-content .msg-me {
            clear: both;
            float: left;
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
            background: rgba(255,100,0,0.5);
        }

        #msg-content .msg-you {
            clear: both;
            float: right;
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
            background: rgba(100,100,255,0.5);
        }
        
        
#msg-box {
    clear: both;
    position: fixed;
    right: 12%;
    bottom: 15%;
    text-align: center;
    width: 50%;
}

#msg-box textarea {
    width: 85%;
    display: block;
    float: left;
}

#msg-box #send-btn {
    float: left;
    margin-left: 5px;
    color: white;
    font-weight: bolder;
    display: block;
    width: 13%;
    padding: 10px 0;
    background: rgba(100,100,100,0.5);
}
        
/*footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #26272a;
    overflow: hidden;
    z-index: 2;
    color: #e1e1e1;
}*/
            
            
            
.clear-fix {
    clear: both;
}

.line-space {
    padding: 5px 0;
}




/*Scrollbar CSS*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 15px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid black;
    background: rgba(0,0,0,0.5); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}