/*
Author: Wilston Dsouza
*/

#msg-main {
    position: fixed;
    top: 100px;
    left: 15%;
    width: 70%;
    height: 75%;
}

#msg-sidebar{
    position: fixed;
    left: 12%;
    width: 20%;
    height: 75%;
    background-color: rgba(30,30,30,1);
    text-align: center;
}

    #msg-sidebar ul {
        list-style: none;
        padding: 0px;
    }
    
        #msg-sidebar ul li {
            margin: 10px;
        }
        
            #msg-sidebar ul li a {
                text-decoration: none;
                display: block;
                padding: 5px;
                color: white;
                background: rgba(255,15,10,0.5);
            }
            
            .new-conv-btn {
                background: rgba(50,85,250,0.5);
            }
            
            #msg-sidebar #search-btn {
                color: white;
                font-weight: bolder;
                display: block;
                width: 40%;
                padding: 10px 0;
                background: rgba(100,100,100,0.5);
                margin: 0 auto;
            }

#msg-content {
    position: fixed;
    right: 12%;
    width: 50%;
    height: 65%;
    background-color: rgba(30,30,30,1);
}

    #msg-content ul {
        list-style: none;
        padding: 0;
    }
    
        #msg-content ul li {
            display: block;
            margin: 5px;
        }
        
            .time-sent {
                font-size: 10px;
            }

        #msg-content .msg-me {
            clear: both;
            float: left;
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
            background: rgba(255,100,0,0.5);
        }

        #msg-content .msg-you {
            clear: both;
            float: right;
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
            background: rgba(100,100,255,0.5);
        }
        
        
#msg-box {
    clear: both;
    position: fixed;
    right: 12%;
    bottom: 12%;
    text-align: center;
    width: 50%;
    background-color: rgba(30,30,30,1);
    padding: 15px 0 15px 0;
}

    #msg-box textarea {
        width: 80%;
        display: block;
        float: left;
        margin-left: 20px;
    }

    #msg-box #send-btn {
        float: left;
        margin-left: 5px;
        color: white;
        font-weight: bolder;
        display: block;
        width: 13%;
        padding: 10px 0;
        background: rgba(100,100,100,0.5);
    }

/*
Helper Classes
*/
    
.clear-fix {
    clear: both;
}

.line-space {
    padding: 5px 0;
}


