@charset "utf-8";

/*  -------------------------  */
/*  ----------RESET----------  */
/*  -------------------------  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public dosection)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:hover {
    text-decoration: none; 
}

strong { font-weight: bold; }
em { font-style: italic; }

/*  -------------------------  */
/*  -----GENERAL STYLING-----  */
/*  -------------------------  */

html {
    font-size: 1em;
    line-height: 1.3;
    overflow-x: hidden;
}

h1 { font-size: 30px; font-size: 1.875rem; line-height: 1.5; }
h2 { font-size: 26px; font-size: 1.625rem; line-height: 1; }
h3 { font-size: 22px; font-size: 1.375rem; line-height: 1.2; }
h4 { font-size: 18px; font-size: 1.125rem; line-height: 1.125; }
h5 { font-size: 16px; font-size: 1rem; line-height: 1.125; }
h6 { font-size: 14px; font-size: 0.875rem; line-height: 1.125; }
p { font-size: 16px; font-size: 1rem; line-height: 1.3; }

h1, h2, h3, h4, h5, h6, footer, .error {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Arvo', serif;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    color: #e1e1e1;
    background: #0f0f0f;
    height: 100%;
}

a {
    color: #e1e1e1;
}

/*  ----------CONTAINERS---------  */

#wrapper {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

.feed, .nofeed {
    margin: 0 auto;
    padding: 80px 0 20px 0;
    width: 100%;
    text-align: center;
    min-height: 450px;
}

.home-feed {
    margin: 0 auto;
    width: 90%;
    padding: 20px 0 70px 0;
    text-align: center;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    min-height: 300px;
}

.main {
    margin: 0 auto;
    padding: 80px 0 100px 0;
    width: 100%;
    min-height: 600px;
}

.main-img {
    margin: 0 auto;
    padding: 10px 0 0 0;
    width: 100%;   
}

.slim {
    margin: 0 auto;
    padding: 100px 0;
    width: 800px;
    min-height: 600px;
}

/*  ----------ACCESSIBILITY---------  */

.skip, .outline {
    left: -9999px;
    position: absolute;
}

.off {
    display: none;
}

/*  ----------CLEARFIX---------  */

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*  ----------BUTTONS---------  */

.btn {
    border: none;
    font-family: 'Montserrat', sans-serif ;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 8px 20px;
    display: inline-block;
    margin: 10px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

    .link {
        border: 2px solid #fff;
        border-radius: 10px;
    }

        .link:hover {
            background: #fff;
            color: #26272a;
        }

/*  ----EDIT, DELETE ICON BUTTONS-----  */

.edit, .delete {
    height: 40px;
    width: 53px;
    position: absolute;
    background: #3e3e40;
    text-align: center;
}

    .edit:hover, .delete:hover {
        color: #3d8cd9;
        cursor: pointer;
    }

/*  ----------FORMS----------  */

.cluster {
    margin: 10px 0;
}

.cluster:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

input[type="text"] {
    font-size: 16px;
    font-size: 1rem;
    padding: 2px;
    height: 20px;
    min-width: 180px;
    color: #202020;
}

textarea {
    font-size: 16px;
    font-size: 1rem;
    color: #202020;
    padding: 2px;
}

.formbtn {
    border: none;
    color: #e1e1e1;
    background: none;
    cursor: pointer;
    padding: 15px 30px;
    display: inline-block;
    margin: 15px 5px 10px 0px;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 1rem;
    font-size: 16px;
    outline: none;
    position: relative;
    border-radius: 8px;
    float: left;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
}

.submit {
    background: #26272a;
}

.submit:hover {
    background: #3e3e40;
    color: #fff;
}

.deletebtn {
    background: #cd3232;
}

.deletebtn:hover {
    background: #ee4141;
    color: #fff;
}

.labels {
    display: block;
    padding: 10px 0;
}

.bold-labels {
    font-weight: 700;
    display: block;
    padding: 10px 0;
}

input[type="radio"], input[type="checkbox"] {
    margin: 10px 6px 10px 15px;
}

.error {
    padding: 2px 5px;
    font-size: 0.875rem;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    background: #3d8cd9;
    margin-left: 7px;
    margin-top: 2px;
}

    .error i {
        padding-right: 4px;
        font-size: 0.85rem;
        font-size: 13px;
    }

/*  --------------------------  */
/*  ----------HEADER----------  */
/*  --------------------------  */

header {
    background: #26272a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 3;
    -webkit-transition: top 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out;
    -ms-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
}

.scrollup {
    top: 0;
}

.scrolldown {
    top: -80px;
}

    /*  -------------LOGO-------------  */

    #logo, #logo-anon {
        position: absolute;
        left: 50%;
        margin-left: -60px;
        margin-top: 21px;
        width: 120px;

    }

    #logo img, #logo-anon img {
        width: 100%;
    }

    /*  ----------NAVIGATION----------  */

    #left-nav, #right-nav {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 35%;
        min-width: 170px;
        text-align: center;
    }

    #left-nav {
        left: 0;
    }

    #right-nav, #right-nav-anon {
        right: 0;
    }

    #right-nav-anon {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 20%;
        min-width: 200px;
        text-align: center;
    }

        /* ----- First Tier ----- */

        #left-nav h4, #right-nav h4 {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40%;
        }

        #messages, #search {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 20%;
            line-height: 80px;
            font-size: 17px;
            font-size: 1.15rem;
        }

        #right-nav-anon h4 {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 50%;
        }

            #right-nav h4:first-of-type {
                left: 20%;
            }

            #search, #left-nav h4:first-of-type, #right-nav-anon h4:first-of-type {
                left: 0;
            }

            #left-nav h4:last-of-type {
                right: 20%;
            }

            #messages,#right-nav h4:last-of-type, #right-nav-anon h4:last-of-type {
                right: 0;
            }

            #left-nav h4 > a, #right-nav h4 > a, #right-nav-anon h4 > a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                line-height: 80px;
            }

                #left-nav h4 a:hover, #right-nav h4 a:hover, #right-nav-anon h4 a:hover, #messages:hover, #search:hover  {
                    background: #3e3e40;
                }

                #right-nav h4 > a i {
                    position: relative;
                    margin-left: 5px;
                }

                #right-nav-anon h4 > a i {
                    position: relative;
                    margin-right: 5px;
                }

                    /* ----- Second Tier ----- */

                    /* hide/show */

                    #right-nav h4 div {
                        display: none;
                        position: absolute;
                        top: 80px;
                        right: 0;
                        width: 100%;
                        min-width: 160px;
                    }

                        #right-nav h4:hover div {
                            display: block;
                        }

                        /* style */

                        #right-nav h4 div h5 {
                            display: block;
                            background: #26272a;
                        }

                            #right-nav h4 div h5 a {
                                display: block;
                                padding: 20px;
                            }

                            #right-nav h4 div h5:last-of-type {
                                background: #cd3232;
                            }

                                #right-nav h4 div h5 a i {
                                    margin-right: 5px;
                                }

/*  ---------------------------  */
/*  ----------CONTENT----------  */
/*  ---------------------------  */

/* ANONYMOUS HOMEPAGE FEATURED IMAGE + PROMO */

.featured {
    width: 100%;
    background: url('../images/slide1.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
    height: 600px;
    position: relative;
}

.jibe-msg {
    width: 60%;
    height: auto;
    position: absolute;
    left: 50%;
    margin-left: -30%;
    top: 25%;
    text-align: center;
    color: #fff;
}

    .jibe-msg h1 {
        font-size: 2.5rem;
    }

    .jibe-msg h2 {
        padding-bottom: 20px;
    }

    .jibe-msg a.link:hover {
        color: #26272a;
    }

#seeFeed {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 2px solid #fff;
    z-index: 2;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: -100px;
    color: #fff;
}

    #seeFeed:hover {
        color: #26272a;
        background: #fff;
    }

.home-project {
    max-width: 25%;
    min-width: 225px;
    height: 225px;
    position: relative;
    display: inline-block;
    background: #26272a;
    margin: 0;
    overflow: hidden;
}

    .home-project a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

        .home-project img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
        }

            /* -- DESCRIPTION HOVER (TOOLTIP) -- */

            .home-project > a:hover:after {
                position: absolute;
                background: #000;
                background: rgba(0,0,0,0.4);
                bottom: 0;
                top: 0;
                right: 0;
                left: 0;
                color: #fff;
                content: attr(title);
                z-index: 2;
                padding: 20px;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
            }

/*  -----MODAL WINDOW-----  */

#modal, .open-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background: rgba(250, 250, 250, 0.4);
    overflow: hidden;
    cursor: zoom-out;
}

#modal {
    display: none;
}

.open-modal {
    display: block;
}

    #modal-loading {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: auto;
        margin-left: -50%;
        margin-top: -27px;
        background: transparent;
        text-align: center;
    }

        #modal-loading span {
            color: #e1e1e1;
        }

    #modal-close {
        border: none;
        outline: none;
        position: absolute;
        top: 0px;
        right: 0px;
        background: #26272a;
        color: #fff;
    }

        #modal-close i {
            font-size: 2.5rem;
            font-size: 40px;
        }

        #modal-close:hover {
            color: #3d8cd9;
            cursor: pointer;
        }

    /* ----- Home Modal -----*/

    #home-content {
        position: absolute;
        left: 50%;
        top: 30px;
        max-width: 80%;
        max-height: 80%;
        background: transparent;
        overflow: hidden;
        cursor: default;
    }

        #modal-img {

        }

    /* ----- Feed/Explore Modal -----*/

    #feed-content {
        position: absolute;
        left: 50%;
        top: 30px;
        width: 90%;
        height: 90%;
        margin-left: -45%;
        background: #0f0f0f;
        overflow: scroll;
        cursor: default;
    }

    .load-more {
        position: relative;
        height: 120px;
        width: 100%;
        padding-bottom: 50px;
    }

        #load-more, .end {
            position: absolute;
            top: 30px;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }

            #load-more span, .end span {
                line-height: 90px;
                font-size: 1.25rem;
            }

                #load-more span .loading {
                    line-height: 90px;
                }

            #load-more:hover {
                background: #3e3e40;
            }

        #head {
            height: 140px;
            width: 100%;
            background: #26272a;
        }

            #proj-thumb {
                width: 140px;
                height: 140px;
                overflow: hidden;
                float: left;
            }

                #proj-thumb img {
                    width: 100%;
                }

            #proj-details {
                float: left;
                width: calc(100% - 140px);
            }

                #feed-content h2 {
                    display: block;
                    padding: 10px 40px 10px 20px;
                }

                #feed-content p {
                    display: block;
                    padding: 10px 20px;
                }

            .follow-modal, .unfollow-modal {
                width: 140px;
                height: 40px;
                line-height: 40px;
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                float: left;
                color: #e1e1e1;
                font-weight: 700;
                border: none;
                outline: none;
                font-size: 16px;
                font-size: 1rem;
                background: #3d8cd9;
                cursor: pointer;
            }

                .follow-modal:hover, .unfollow-modal:hover {
                    background: #26272a;
                }

        #sub {
            height: 40px;
            background-color: #3e3e40;
        }

            .report-form {
                width: 60px;
                height: 40px;
                float: right;
                line-height: 40px;
            }

                .report {
                    color: #e1e1e1;
                    font-weight: 700;
                    border: none;
                    outline: none;
                    font-size: 12px;
                    background: #26272a;
                    cursor: pointer;
                }

                    .report:hover {
                        background: #3d8cd9;
                    }


/*  ----------PROJECT----------  */

.project {
    max-width: 25%;
    min-width: 225px;
    height: 225px;
    position: relative;
    display: inline-block;
    background: #26272a;
    margin: 50px 5px 10px 5px;
}

    .project > a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

        .project img {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
        }

            /* -- DESCRIPTION HOVER (TOOLTIP) -- */

            .project > a:hover:after {
                position: absolute;
                background: #000;
                background: rgba(0,0,0,0.4);
                bottom: 0;
                top: 0;
                right: 0;
                left: 0;
                color: #fff;
                content: attr(title);
                z-index: 2;
                padding: 20px;
                white-space: normal;
                overflow: hidden;
                text-overflow: ellipsis;
            }

    .info {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        height: 40px;
        line-height: 40px;
        margin-bottom: -40px;
        background-color: #26272a;
    }

        .info .user-profile {
            height: 40px;
            width: 53px;
            position: absolute;
            top: 0;
            left: 0;
        }

                /* -- PROFILE NAME TOOLTIP -- */

                .info .user-profile:hover:before{
                    background: #333;
                    background: rgba(0,0,0,.8);
                    border-radius: 5px;
                    bottom: 48px;
                    color: #fff;
                    content: attr(title);
                    left: -15%;
                    padding: 0 10px;
                    position: absolute;
                    z-index: 5;
                    min-width: 150px;
                    width: auto;
                    height: auto;
                    line-height: 30px;
                }

                .info .user-profile:hover:after {
                    border: solid;
                    border-color: #111 transparent;
                    border-width: 6px 6px 0 6px;
                    bottom: 42px;
                    content: "";
                    left: 40%;
                    position: absolute;
                    z-index: 5;
                }

            .info .user-profile img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            /* -- DESCRIPTION HOVER (TOOLTIP) -- */

        .info span.category {
            height: 40px;
            width: 53px;
            position: absolute;
            top: 0;
            left: 53px;
            text-align: center;
            background: #3e3e40;
        }

            /* -- CATEGORY TOOLTIP -- */

            .info span.category:hover:before{
                background: #333;
                background: rgba(0,0,0,.8);
                border-radius: 5px;
                bottom: 48px;
                color: #fff;
                content: attr(title);
                left: -15%;
                padding: 0 10px;
                position: absolute;
                z-index: 3;
                min-width: 150px;
                width: auto;
                height: auto;
                line-height: 30px;
            }

            .info span.category:hover:after {
                border: solid;
                border-color: #111 transparent;
                border-width: 6px 6px 0 6px;
                bottom: 42px;
                content: "";
                left: 40%;
                position: absolute;
                z-index: 3;
            }

        .info span.approvals {
            height: 40px;
            width: 118px;
            position: absolute;
            top: 0;
            left: 106px;
            text-align: center;
        }

    /* ----------SLIDER---------  */

    .slider {
        position: relative;
        overflow: hidden;
        width: 100%;
        z-index: 0;
        max-height: 500px;
    }

        .slider-group {
            width: 100%;
            height: 100%;
            position: relative;
        }

            .slide {
                width: 100%;
                height: 100%;
                display: none;
                position: relative;
                
            }

                .slide:first-child {
                    display: block;
                }

                .slide img {
                    width: 100%;
                }

    .on {
        display: block!important;
    }

    .slide-buttons {
        position: absolute;
        left: 50%;
        margin-left: -44px;
        margin-top: -45px;
        z-index: 2;
    }

        .slide-btn {
            height: 18px;
            width: 18px;
            border-radius: 50%;
            background: #26272a;
            border: none;
            outline: none;
            margin: 10px 2px;
            cursor: pointer; 
        }

            .slide-btn:hover {
                background: #3e3e40;
            }

            .slide-btn.active, .slide-btn.active:hover {
                background: #3d8cd9;
            }

    .slider > a.edit {
        height: auto;
        width: auto;
        bottom: 15px;
        right: 35px;
        line-height: 30px;
        padding: 0 10px;
        font-family: 'Montserrat', sans-serif;
        opacity: .8;
    }

        .slider > a.edit i {
            margin-right: 8px;
        }

        .slider > a.edit:hover {
            opacity: 1;
        }


/*  ----------ADD PROJECT----------  */

.add-project {
    padding: 50px;
}

.cat-radio {
    display: list-item;
}

/*  ----------USER PROFILE----------  */

.user {
    padding: 8px 0;
    position: relative;
}

    .user .photo {
        width: 225px;
        float: left;
        margin: 10px 20px;
        position: relative;
    }

        .user .photo img {
            width: 100%;
        }

        .photo > a.edit {
            height: 30px;
            width: 35px;
            bottom: 4px;
            right: 35px;
            line-height: 30px;
            opacity: .6;
        }

        .photo > a.delete {
            height: 30px;
            width: 35px;
            bottom: 4px;
            right: 0;
            line-height: 30px;
            opacity: .6;
        }

            .photo a.delete:hover, .photo a.edit:hover {
                opacity: 1;
            }

    .user div.name {
        float: left;
        padding: 10px 20px;
    }

        .user div.name h3 {
            padding: 5px 0;
        }

        .user div.name h4 {
            padding: 5px 0;
        }

    .user div.bio {
        display: table;
        height: 179px;
        padding: 5px 25px;
        max-width: 700px;
        min-width: 315px;
    }

        .user div.bio p {
            display: table-cell;
            vertical-align: middle;
        }

    .user > a.edit {
        height: auto;
        width: auto;
        bottom: 15px;
        right: 35px;
        line-height: 30px;
        padding: 0 10px;
        font-family: 'Montserrat', sans-serif;
    }

        .user > a.edit i {
        margin-right: 8px;
    }

    .follow-profile, .unfollow-profile {
        position: absolute;
        width: 110px;
        height: 35px;
        line-height: 35px;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        color: #e1e1e1;
        font-weight: 700;
        border: none;
        outline: none;
        font-size: 16px;
        font-size: 1rem;
        background: #3d8cd9;
        cursor: pointer;
        right: 20px;
        bottom: 20px;
    }

        .follow-profile:hover, .unfollow-profile:hover {
            background: #26272a;
        }

    #img-content {
        position: absolute;
        left: 50%;
        top: 100px;
        width: 500px;
        height: 200px;
        margin-left: -250px;
        background: transparent;
        overflow: hidden;
        cursor: default;
        background: #0f0f0f;
    }
        
        #img-content h2 {
            text-align: center;
            padding: 20px 0;
        }

        #img-content form {
            margin: 0 auto;
            width: 90%;
            text-align: center;
        }



/*  ------PROFILE TABS------  */

.tab-list {
    width: 100%;
    display: table;
}

    .tab-list li {
        display: table-cell;
        width: 31%;
        border-left: 3px solid #0f0f0f;
        border-right: 3px solid #0f0f0f;
    }

        .tab-list li a {
            text-align: center;
            display: block;
            padding: 10px;
            background: #26272a;
            color: #e1e1e1;
        }

            .tab-list li a:hover {
                background: #3e3e40;
            }

        .tab-list li.active a {
            background: #3e3e40;
            font-weight: 800;
        }

            .tab-list li.active a:hover {
                background: #3e3e40;
                cursor: default;
            }       

        .tab-panel {
            display: none;
            min-height: 300px;
            width: 100%;
        }

        .tab-panel.active {
            display: block;
            border-top: 10px solid #3e3e40;
        }

            .tab-contain {
                width: 100%;
                padding: 20px 0;
            }

                .tab-contain a.link {
                    background: #3e3e40;
                    color: #fff;
                    border: 2px solid #3e3e40;
                }

                    .tab-contain a.link:hover {
                        background: #fff;
                        color: #3e3e40;
                    }

                /*  --TAB CONTAINERS--  */

                .personal, .activity, .stats {
                    width: 100%;
                    text-align: center;
                    padding-bottom: 40px;
                }

                /*  --PERSONAL TAB--  */

                    .personal a.edit {
                        top: 0;
                        left: 0;
                    }

                    .personal a.delete {
                        top: 0;
                        left: 53px;
                    }

                /*  --ACTIVITY TAB--  */



                /*  --MESSAGING TAB--  */



/*  --------------------------  */
/*  ----------FOOTER----------  */
/*  --------------------------  */

footer {
    position: relative;
    height: 50px;
    background: #26272a;
    overflow: hidden;
    z-index: 2;
    color: #e1e1e1;
}

    footer p {
        line-height: 50px;
        margin-left: 5%;
        float: left;
        font-size: 14px;
    }

        footer a:hover {
            color: #3d8cd9;
        }

    footer nav {
        float: right;
        margin-right: 5%;
    }

        footer nav ul {
            line-height: 50px;
        }

            footer nav ul li {
                float: left;
                padding: 0 10px;
                font-size: 14px;
            }


/*  ------------------------------  */
/*  ----------RESPONSIVE----------  */
/*  ------------------------------  */

    @media only screen and (max-width: 615px)
    {
        #wrapper {
            margin: 0 auto -100px;
        }

        footer {
            height: 100px;
            text-align: center;
        }

            footer p {
                width: 100%;
                margin-left: 0;
            }

                footer nav {
                    width: 100%;
                    margin: 0 auto;
                }

                    footer nav ul {
                        display: inline-block;
                        line-height: 50px;
                    }

    }

    @media only screen and (max-width: 525px)
    {

        /*  -------CONTAINERS-------  */

        .feed {
            padding: 120px 0 140px 0;
        }

        .main {
            padding: 120px 0 140px 0;
        }

        /*  -------HEADER-------  */

        header {
            height: 120px;
        }

            #logo, #logo-anon {
                
                margin-top: 41px;
            }

            #logo-anon {
                left: 30%;
            }

            /*  -------NAVIGATION-------  */

            #left-nav, #right-nav, #right-nav-anon {
                min-width: 100px;
            }

                /* ----- First Tier ----- */

                #left-nav h4, #right-nav h4, #right-nav-anon h4, #search, #messages {
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 33%;
                }

                    #search, #messages {
                        line-height: 40px;
                    }

                    #left-nav h4:first-of-type, #right-nav h4:first-of-type {
                        bottom: 0;
                        left: 0;
                        top: 33%;
                    }

                    #left-nav h4:last-of-type, #right-nav h4:last-of-type {
                        bottom: 0;
                        top: 66%;
                    }

                    #right-nav-anon h4:last-of-type {
                        bottom: 0;
                        top: 50%;
                    }

                        #left-nav h4 > a, #right-nav h4 > a, #right-nav-anon h4 > a {
                            line-height: 40px;
                        }

                        /* ----- Second Tier ----- */

                        #right-nav h4 div {
                            top: 40px;
                        }
    }

