/*
PHP LAB
*/
/* 
    Created on : 24-Jan-2015, 12:09:32 PM
    Author     : brittanytrafford
*/


body { 
    
}
p {
    color: white;
}
#header {
    width: auto;
    height: 300px;
    background-color: #9DAAFF;
    text-align: center;
}
#header img {
    float: left;
}
h1 {
    font-family: Georgia, serif;
    color: white;
}

#form {
    background-color: #90DAFF;
    width: auto;
    height: 500px;
    text-align: center;
}

#footer{
    width: auto;
    height: 200px;
    background-color: #BD90FF;
    text-align: center;
}
h2 {
    color: white;
}
#footer nav a {
    text-decoration: none;
    
}
#footer a:hover {
    color: orange;
}



